body {
    background-color: #DAEAF1;
  }
  .register-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;	
    margin-top: 140px;
  }
  
  .register-window {
    margin-left: 30%;
    margin-top: 7%
  }
  
  .register-form {
    margin-left: 10%;
  }